header { 
    background-image: url(../images/flowers.jpg);
    height: 300px;
    padding: 3%;
    margin: 3%;
    color: #fff;
    text-align: center;
    font-family: cursive;
    text-shadow: 2px 2px #ee9dbf;
    width: 55%;
    margin: auto;

}

.ul {
    font-size: 20px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
    float: right;
    Margin: 0auto;
    padding: 0px;
    display: inline;
    overflow: hidden;
} 
a:link {
    color: #ee9dbf

}

a:visited {
    color: #ff006a;
}

h2 {
    font-size: 40px;
    font-family: cursive;
    text-align: center;
    text-shadow: 2px 2px #fff;
    border-bottom: 5px solid  #ee9dbf;
}

section {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    width: 50%;
    margin: auto;

}

.wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    grid-template: 
        [row1-start] "item1 item1 item1 item1" [row1-end]
        [row2-start] "item2 item2 item3 item3" [row2-end]
        [row3-start] "item4 item4 item5 item5" [row3-end]
}

.item1{
    grid-area: item1;
}

.item2 {
    grid-area: item2;
    grid-row-start: 2;
}

.item3{
    grid-area: item3;
    grid-row-start: 2;
}

.item4{
    grid-area: item4;
    grid-row-start: 3;
}

.item5 {
    grid-area: item5;
    grid-row-start: 3;
}


.img {
    border-radius: 8px;

}


@media screen and (max-width: 480px) { 
header  {
    width: 30%;
}
.img {
    width: 30%
}

}
    
@media screen and (min-width: 481px) and (max-width: 769px) {
    header {
        width: 50%;
    }
    .img {
        width: 50%
    }

}